#description {max-width: 70%}

#github {
    padding: 0;
    margin: 0;
    text-indent: -9999999px;
    height: 149px;
    width: 149px;
    white-space: nowrap;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png');
}
#github a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#clock {visibility: hidden}

span {padding-right:1em; margin:0}
.timezone {display:none}
.short {display:none}
.zero {display:inline}
.trim {display:none}
.weekday.numeric {display:none}
.month.numeric {display:none}
.day.zero {display:none}
.day.trim {display:inline}
.date.slash {display:none}
.hr24 {display:none}

.time {padding-right: 2px}
.time.second {padding-right: 1em}
.date {padding-right: 2px}
.date.day {padding-right: 1em}
.date.year {padding-right: 1em}